@charset "utf-8";

/* CSS Document */

.block .content h3.block_discussion_feed_headline {
    margin-bottom: -1px;
    padding: 0 0 8px 0;
    font-size: 1.5em;
    border-bottom: 1px solid #393b42;
}

.block_discussion_feed li a {
    color: #080808;
}

.block_discussion_feed {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#block_discussion_feed_form_message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}

#block_discussion_feed_form_message:required {
    border-color: #aaa;
    box-shadow: 4px 4px 8px #eee;
    color: #000;
}

.block_discussion_feed_feed {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 100%;
    max-width: 100%;
}

.block_discussion_feed_item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.block_discussion_feed_item_border {
    border-bottom: 1px solid #ededee;
}

.block_discussion_feed_item_avatar {
    display: inline-block;
    margin-right: 0.7em;
    vertical-align: middle;
}

.block_discussion_feed_primary_post_container {
    border: 1px solid #eee;
    padding: 10px 10px 5px 10px;
    margin-bottom: 20px;
}

.block_discussion_feed_item__body {
    float: left;
    flex: 1 0 0%;
    min-width: 0;
}

.block_discussion_feed_item__header {
    display: flex;
    flex-wrap: wrap;
    margin: .25em 0 .5em;
    font-size: 1.0em;
    line-height: 1.44495em;
}

.block_discussion_feed_item__preamble {
    float: left;
    flex: 1 0 0%;
    margin-right: 10px;
}

.block_discussion_feed_item__heading {
    display: inline-block;
    margin-bottom: .3em;
    color: #3a343a;
}

span.block_discussion_feed_item_post_user a {
    color: #555;
    font-weight: bold;
}

span.block_discussion_feed_item_post_subject {
    line-height: 2em;
}

.block_discussion_feed_item_meta {
    float: left;
    display: flex;
    flex-direction: column;
}

.block_discussion_feed_item_content {
    font-size: 0.8em;
    clear: both;
    word-wrap: break-word;
}

.block_discussion_feed_item_content p {
    margin-bottom: 1em;
}

.block_discussion_feed_item_content p:last-of-type {
    display: inline;
    margin-bottom: 0;
}

.block_discussion_feed_item_timestamp {
    color: #a4a9b4;
}

.block_discussion_feed_item_course_link a {
    color: #ddd;
    font-weight: bold;
}

.block_discussion_feed_item_forum_link a {
    color: #aaa;
}

.block_discussion_feed_item_post_created_date {
    color: #a4a9b4;
}

.block_discussion_feed_item_actions {
    font-size: 1.0em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-top: 26px;
}

.block_discussion_feed_item_user {
    display: none;
}

.block .content .block_discussion_feed_item_user .userpicture {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

#block_discussion_feed_form_message_feedback {
    font-size: 0.9em;
    line-height: 2em;
}

button.block_discussion_feed_action_button {
    background-color: transparent;
    color: #333;
    background-image: none;
    border: 0;
    padding: 2px 6px;
    margin: 0 0 10px 0;
    font-weight: bold;
    box-shadow: none;
    float: left;
    transition: background-color 0.2s ease 0s;
}

button.block_discussion_feed_action_button:before {
    content: "\f112";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 5px;
}

button.block_discussion_feed_action_button:hover {
    background-color: #eee;
    background-image: none;
    box-shadow: 2px 2px #eee;
    cursor: pointer;
}

/* View comments button */
button.block_discussion_feed_action_view_comments_button {
    background-color: transparent;
    color: #17b8a0;
    background-image: none;
    border: 0;
    padding: 2px 0;
    margin: 15px 0 0 0;
    box-shadow: none;
    transition: background-color 0.2s ease 0s;
}

button.block_discussion_feed_action_view_comments_button:hover {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

button.block_discussion_feed_action_view_comments_button:focus {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: #333;
    font-weight: bold;
}

button.block_discussion_feed_action_view_comments_button:active {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: #17b8a0;
    font-weight: bold;
}

button.block_discussion_feed_action_view_comments_button:after {
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 8px;
}

/* Hide Comments button */
button.block_discussion_feed_action_hide_comments_button,
button.block_discussion_feed_action_hide_comments_button_second {
    background-color: transparent;
    color: #17b8a0;
    background-image: none;
    border: 0;
    padding: 2px 0;
    margin: 15px 0 0 0;
    box-shadow: none;
    transition: background-color 0.2s ease 0s;
}

button.block_discussion_feed_action_hide_comments_button:hover,
button.block_discussion_feed_action_hide_comments_button_second:hover {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: #333;
}

button.block_discussion_feed_action_hide_comments_button:focus,
button.block_discussion_feed_action_hide_comments_button_second:focus {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: #333;
    font-weight: bold;
}

button.block_discussion_feed_action_hide_comments_button:active,
button.block_discussion_feed_action_hide_comments_button_second:active {
    box-shadow: none;
    background-image: none;
    background-color: transparent;
    color: #17b8a0;
    font-weight: bold;
}

button.block_discussion_feed_action_hide_comments_button:after,
button.block_discussion_feed_action_hide_comments_button_second:after {
    content: "\f077";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 8px;
}

.block_discussion_feed_posts_container_content {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    max-height: 400px;
    overflow-y: auto;
    padding: 15px 25px 10px 25px;
}

.block_discussion_feed_comments_container {
    clear: both;
}

.block_discussion_feed_comments_container .indent {
    margin-left: 5%;
}

.block_discussion_feed_buttons {
    margin: 5px 0 5px 0;
}

.block_discussion_feed_action_no_comments {
    background-color: transparent;
    color: #17b8a0;
    padding: 2px 0;
    margin: 15px 0 0 0;
}

.block_discussion_feed_view_hide_comments_container {
    float: left;
}

.block_discussion_feed_view_thread_container {
    margin: 15px 0 0 0;
    float: right;
    font-size: 0.9em;
}

.block_discussion_feed_view_thread_container a:after {
    content: "\f064";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 8px;
}

.block_discussion_feed_edit_post_container {
    margin: 15px 15px 0 0;
    float: right;
    font-size: 0.9em;
}

.block_discussion_feed_edit_post_container a:after {
    content: "\f044";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 8px;
}

button.block_discussion_feed_reply_button {
    margin-left: 0;
}

.block_discussion_feed_container {
    position: relative;
    margin: 10px 0;
}

.block_discussion_feed_expand_container {
    position: absolute;
    bottom: -9px;
    right: 23px;
}

.block_discussion_feed_expand {
    max-height: 800px;
}

button.block_discussion_feed_expand_container_button {
    border: 1px;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(134, 233, 135, 0.98);
    background-image: none;
    padding: 2px 4px;
    text-shadow: none;
}

button.block_discussion_feed_expand_container_button:focus,
button.block_discussion_feed_expand_container_button:active {
    background-color: rgba(134, 233, 135, 0.98);
}

button.block_discussion_feed_expand_container_button:hover {
    background-color: rgba(120, 202, 121, 0.9);
}

button.block_discussion_feed_expand_container_button_expanded {
    background-color: rgba(230, 109, 109, 0.98);
    color: #fff;
}

button.block_discussion_feed_expand_container_button_expanded:hover {
    background-color: rgba(251, 145, 145, 1);
    color: #fff;
}

button.block_discussion_feed_expand_container_button_expanded:focus,
button.block_discussion_feed_expand_container_button_expanded:active {
    background-color: rgba(230, 109, 109, 1);
    color: #fff;
}

button.block_discussion_feed_expand_container_button_collapsed:after {
    content: "Expand \002B";
    padding: 0 0 0 5px;
    font-size: 0.9em;
}

button.block_discussion_feed_expand_container_button_expanded:after {
    content: "Collapse \2212";
    padding: 0 0 0 5px;
    font-size: 0.9em;
}

.block_discussion_feed_hidden {
    display: none;
}

.block_discussion_feed_show_less {
    display: none;
}

a.block_discussion_feed_show_less,
a.block_discussion_feed_read_more {
    color: #aaa;
}

.block_discussion_feed_posting_to {
    font-size: 0.9em;
    color: #888;
    font-style: italic;
}

.block_discussion_feed_container .block_discussion_feed_error {
    font-size: 1.1em;
    color: #f00;
    font-family: 'Europa', 'Helvetica Neue', Arial, sans-serif;
    line-height: 2em;
    text-transform: uppercase;
}

.block_discussion_feed_container .block_discussion_feed_success {
    font-size: 1.1em;
    color: #777;
    font-family: 'Europa', 'Helvetica Neue', Arial, sans-serif;
    line-height: 2em;
    text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {

    .block_discussion_feed_item_user {
        display: block;
    }

}

select.block_discussion_feed_group_selection {
    /* margin: 10px; */
    vertical-align: baseline;
}

div.block_discussion_feed_group_selection {
    margin: 10px 5px 10px 0;
    vertical-align: baseline;
}

div.block_discussion_feed_pinned {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}

div.block_discussion_feed_pinned i {
    font-size: 1.4em;
    color: #444;
}

#block_discussion_feed_discussion_form input,
#block_discussion_feed_discussion_form textarea,
.block_discussion_feed_reply_form_container textarea {
    padding: 5px;
}

#block_discussion_feed_discussion_form input {
    margin-bottom: 10px;
}


#block_discussion_feed_discussion_form #id_cancel {
    padding: .5rem 1rem;
    margin-left: 8px;
    height: inherit;
}

#block_discussion_feed_discussion_form input.subjectbox {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}