{{!

    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_discuss/discussion-primary-post

    Display forum discussion post.

    Example context (json):

    {
        "discussionid": "812",
        "userpicture": "Link to user profile picture",
        "userfullname": "Full name",
        "userprofilelink": "/user/view.php?id=2&course=14",
        "timesince": "11:00:00",
        "timecreated": "Time when discussion created",
        "subject": "Subject",
        "message": "Message",
        "discussionlink": "Link to discussion",
        "shortname": "Course shortname",
        "courselink": "/course/view.php?id=200",
        "forumlink": "/mod/forum/view.php?f=56",
        "forumname": "Forum name",
        "editpostallowed": "Boolean that store if edit post link can be displayed",
        "editlink": "/mod/forum/post.php?edit=1444",
        "editlinktext": "Edit link text",
        "canreply": true,
        "courseid": "984",
        "postid": "712",
        "multiplepostsmade": "Boolean that stores if more than one post made in the discussion",
        "singlepostonly": "Boolean that stores if only one post made in the discussion",
        "threadlink": "/mod/forum/discuss.php?d=554",
        "postedintext": "Posted in ",
        "coursetext": "Course: ",
        "lastupdatedtext": "Last updated ",
        "viewcommentstext": "View comments",
        "nocommentstext": "No comments yet",
        "replytext": "Reply",
        "pinned": 0
    }

}}

			<div class="block_discussion_feed_primary_post_container block_discussion_feed_item">
			     {{#pinned}}<div class="block_discussion_feed_pinned"><i class="fa fa-map-pin" aria-hidden="true"></i></div>{{/pinned}}
				<div class="block_discussion_feed_item_user">
					<div class="block_discussion_feed_item_avatar" aria-hidden="true">
					<span class="picture">
            			{{{userpicture}}}
            		</span>
					</div>
				</div>

				<div class="block_discussion_feed_item__body">
					<div class="block_discussion_feed_item__header">
						<div class="block_discussion_feed_item__preamble">
							<div class="block_discussion_feed_item__heading">
								<span class="block_discussion_feed_item_post_user"><a href="{{{userprofilelink}}}">{{{userfullname}}}</a></span><br>
								<span class="block_discussion_feed_item_post_created_date">{{{timecreated}}}</span><br>
								<span class="block_discussion_feed_item_post_subject">{{{subject}}}</span>
							</div>
						</div>
						<div class="block_discussion_feed_item_meta">
							<span class="block_discussion_feed_item_forum_link">{{postedintext}}<a href="{{{forumlink}}}">{{{forumname}}}</a></span>
							<span class="block_discussion_feed_item_course_link">{{coursetext}}<a href="{{{courselink}}}">{{{shortname}}}</a></span><br>
						    <span class="block_discussion_feed_item_timestamp">{{lastupdatedtext}}{{{timesince}}}</span>
						    {{groupname}}
						</div>
					</div>	
					<div class="block_discussion_feed_item_content">
							<div class=""><p>{{{message}}}</p>
							</div>
					</div>

					<div class="block_discussion_feed_item_options">

                        {{#canreply}}
						<div class="block_discussion_feed_item_actions discussion-feed-feed-item-actions-comment">
							<button aria-label="comment reply button" class="block_discussion_feed_action_button" value="{{{id}}}" data-course-id="{{{courseid}}}"
							 data-forum-id="{{{forumid}}}" data-discussion-id="{{{discussion}}}">{{replytext}}</button>
						</div>
						<div id="block_discussion_feed_reply_form_container_{{{postid}}}" class="block_discussion_feed_reply_form_container"></div>
                        {{/canreply}}
						<div id="comment_{{{postid}}}"></div>

						<!-- View comments link -->
						<div class="discussion-feed-links-container">
							<div id="block_discussion_feed_view_comments_button_container_{{{discussionid}}}" class="block_discussion_feed_view_hide_comments_container">
							{{#multiplepostsmade}}
								<button aria-label="comment button" class="block_discussion_feed_action_view_comments_button" value="{{{discussionid}}}"
								data-course-id="{{{courseid}}}" data-forum-id="{{{forumid}}}">{{viewcommentstext}}</button>
							{{/multiplepostsmade}}
							</div>
							<div class="block_discussion_feed_view_thread_container"><a href="{{{threadlink}}}" title="{{{threadlinktext}}}">{{{threadlinktext}}}</a></div>
							{{#editpostallowed}}
							<div class="block_discussion_feed_edit_post_container"><a href="{{{editlink}}}" title="{{{editlinktext}}}">{{{editlinktext}}}</a></div>
							{{/editpostallowed}}
						</div>

						<div id="block_discussion_feed_comments_container_{{{discussionid}}}" class="block_discussion_feed_comments_container"></div>

						<div id="block_discussion_feed_view_comments_button_container_{{{discussionid}}}_second" class="discussion-feed-view-hide-comments-container-second"></div>

						{{#singlepostonly}}
						<span id="discussion-feed-no-comments-container_{{{discussionid}}}" class="block_discussion_feed_action_no_comments">{{nocommentstext}}</span>
						{{/singlepostonly}}

					</div>
				</div>
			</div>

