{{!

    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_discussion_feed/discussion-form

    Display forum discussion reply form

    Example context (json):
    {
	    "formdata": {
	         "forumid": 12,
	         "courseid":398,
	         "contextid": 9,
	         "buttonid": "discussion-feed-create-reply",
	         "parentpostid": "Parent post id",
	         "forumname": "Forum name",
	         "forumlink": "Forum link",
	         "postingtotext": "Posting to",
	         "addapostplaceholder": "Add a reply",
	         "addasubjectplaceholder": "Add a subject",
	         "showmultiplegroups": "true",
	         "groupdata": {"id": 1, "name": "My group"}
	    }
    }
}}
    <div class="container-fluid">
        <form id="block_discussion_feed_discussion_form" method="post" aria-label="formlabel" class="course-discuss-form">
            <fieldset>

        <input type="hidden" name="forumid" value="{{forumid}}" />
        <input type="hidden" name="courseid" value="{{courseid}}" />
        <input type="hidden" name="contextid" value="{{contextid}}" />

        <input name="subject" type="text" placeholder="{{addasubjectplaceholder}}" class="subjectbox" /><br>
        <textarea name="message" id="block_discussion_feed_form_message" rows="3" maxlength="1200" placeholder="{{addapostplaceholder}}"></textarea>

        <div class="row">
            <div class="col-12 col-md-6 my-auto py-1 d-flex justify-content-start">
            {{#showmultiplegroups}}
                <strong>Group</strong>
                <select class="block_discussion_feed_group_selection ml-2" name="group">
                    {{#groupdata}}
                        <option value="{{id}}">{{name}}</option>
                    {{/groupdata}}
                </select>
            {{/showmultiplegroups}}

            {{#showsinglegroup}}
                {{#groupdata}}
                    <strong>Group</strong>
                    <div class="block_discussion_feed_group_selection"> &nbsp;{{name}}</div><input type="hidden" name="group" value="{{id}}">
                {{/groupdata}}
            {{/showsinglegroup}}
            </div>

            <div class="col-12 col-md-6 my-auto d-flex justify-content-end" id="block_discussion_feed_form_message_feedback"></div>
        </div>

        <div class="block_discussion_feed_buttons row">
            <div class="col-md-5 col-lg-4 col-xl-3 py-1"><button type="submit" id="form-{{buttonid}}" class="btn btn-primary block_discussion_feed_reply_button">Post</button>
            <button type="reset" id="id_cancel" class="btn btn-link">Cancel</button></div>
            <div class="col-12 col-md-auto my-auto py-1">
            <span class="block_discussion_feed_posting_to">{{postingtotext}} <a href="{{forumlink}}" title="{{forumname}}"><strong>{{forumname}}</strong></a></span>
            </div>
       </div>

        </fieldset>

        </form>
    </div>
        <br>