{{!

    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_discuss/discussion-post

    Display forum discussion post.

    Example context (json):

        {"id": "Post id",
        "userpicture": "Link to user profile picture",
        "fullname": "Full name",
        "userprofilelink": "Link to user's profile",
        "timesince": "11:00:00",
        "subject": "Subject",
        "message": "Message",
        "courseid": "Course id",
        "forumid": "Forum id",
        "editpostallowed": "Boolean to store whether edit post link can be displayed",
        "editlink": "Edit link",
        "editlinktext": "Edit link text",
        "discussion": "Discussion id",
        "canreply": "Boolean to store whether reply button can be displayed"
        }

}}

			<li class="block_discussion_feed_item block_discussion_feed_item_border">
				<div class="block_discussion_feed_item_user">
					<div class="block_discussion_feed_item_avatar" aria-hidden="true">
					<span class="picture">
            			{{{userpicture}}}
            		</span>
					</div>
				</div>

				<div class="block_discussion_feed_item__body">
					<div class="block_discussion_feed_item__header">
						<div class="block_discussion_feed_item__preamble">
							<div class="block_discussion_feed_item__heading">
								<a href="{{{userprofilelink}}}">{{{fullname}}}</a>
							</div>
						</div>
						<div class="block_discussion_feed_item_meta">
						    <span class="block_discussion_feed_item_timestamp"><time>{{{timesince}}}</time></span>
						</div>
					</div>
					<div class="block_discussion_feed_item_content">
							<div class=""><p>{{{message}}}</p>
							</div>
					</div>

					{{#canreply}}
					<div class="block_discussion_feed_item_actions discussion-feed-feed-item-actions-comment">

							<button aria-label="comment reply button" class="block_discussion_feed_action_button" value="{{{id}}}" data-course-id="{{{courseid}}}"
							 data-forum-id="{{{forumid}}}" data-discussion-id="{{{discussion}}}">Reply</button>
							
					</div>
					{{/canreply}}

					{{#editpostallowed}}
							<div class="block_discussion_feed_edit_post_container"><a href="{{{editlink}}}" title="{{{editlinktext}}}">{{{editlinktext}}}</a></div>
					{{/editpostallowed}}
					{{#canreply}}
					<div id="block_discussion_feed_reply_form_container_{{{id}}}" class="block_discussion_feed_reply_form_container"></div>
					<div id="comment_{{{id}}}"></div>
					{{/canreply}}
				</div>
			</li>

